<p id="notice"><%= notice %></p>

<p>
  <strong>Question:</strong>
  <%= @question.question %>
</p>

<p>
  <strong>Opa:</strong>
  <%= @question.opa %>
</p>

<p>
  <strong>Opb:</strong>
  <%= @question.opb %>
</p>

<p>
  <strong>Opc:</strong>
  <%= @question.opc %>
</p>

<p>
  <strong>Opd:</strong>
  <%= @question.opd %>
</p>

<p>
  <strong>Ro:</strong>
  <%= @question.ro %>
</p>

<p>
  <strong>Year:</strong>
  <%= @question.year %>
</p>

<p>
  <strong>Examcode:</strong>
  <%= @question.examcode %>
</p>

<p>
  <strong>Subjectcode:</strong>
  <%= @question.subjectcode %>
</p>

<p>
  <strong>Topiccode:</strong>
  <%= @question.topiccode %>
</p>

<p>
  <strong>Stopiccode:</strong>
  <%= @question.stopiccode %>
</p>

<%= link_to 'Edit', edit_question_path(@question) %> |
<%= link_to 'Back', questions_path %>
