<%= form_for(@subtopiccode) do |f| %>
  <% if @subtopiccode.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@subtopiccode.errors.count, "error") %> prohibited this subtopiccode from being saved:</h2>

      <ul>
      <% @subtopiccode.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :stcode %><br>
    <%= f.number_field :stcode %>
  </div>
  <div class="field">
    <%= f.label :stname %><br>
    <%= f.text_field :stname %>
  </div>
  <div class="field">
    <%= f.label :tcode %><br>
    <%= f.number_field :tcode %>
  </div>
  <div class="field">
    <%= f.label :active %><br>
    <%= f.text_field :active %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
