<p id="notice"><%= notice %></p>

<p>
  <strong>Scode:</strong>
  <%= @scode.scode %>
</p>

<p>
  <strong>Sname:</strong>
  <%= @scode.sname %>
</p>

<%= link_to 'Edit', edit_scode_path(@scode) %> |
<%= link_to 'Back', scodes_path %>
